.env
.venv
__pycache__/
*.pyc
*.pyo
*.pyd
*build*/
*develop-eggs*/
*dist*/
*downloads*/
*eggs*/
*.egg-info/
*htmlcov*/
*.jpeg
*.log
*logs*/
*.mo
*.pot
*.pot.*
*.sage.py
*sdist*/
*var*/
instance/
.webassets-cache
.Python
celerybeat-schedule
celerybeat.pid
*.cfg
*.db
*.dill
*.env
*.ini
*.py,cover
*.py[cod]
*.so
*.sqlite3
*.swp
*.tox
.coverage
.coverage.*
.hypothesis/
.pytest_cache/
nosetests.xml
pip-log.txt
pip-delete-this-directory.txt
MANIFEST
cover/
coverage.xml
local_settings.py
db.sqlite3
db.sqlite3-journal
*.ipynb_checkpoints
profile_default/
ipython_config.py
__pypackages__/
.python-version
.env.*
env/
venv/
ENV/
env.bak/
venv.bak/
.idea/
.vscode/
